body {
  background-color: cadetblue;
}

.featured-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product-container {
  border: 1px solid grey;
  margin: 1em;
}

.product-image {
  width: 380px;
  height: 430px;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}
