body {
  background-color: cadetblue;
}

main {
  flex: 1;
}

.featured-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product-container {
  border: 1px solid grey;
  margin: 1em;
}

.product-image {
  width: 100%;
  height: 400px;
  object-fit: scale-down;
}

.site-container {
  min-height: 100vh;
}

.rating span {
  color: #ffc000;
}

.img-large{
  max-width: 100%;
}

.img-thumbnail{
  height: 80px;
}

.small-container{
  max-width: 600px;
}